@font-face {
  font-family: 'Material Symbols Sharp';
  font-style: normal;
  font-weight: normal;
  font-display: block;
  src:
    local('Material Symbols Sharp'),
    url('/fonts/Material_Symbols_Sharp.woff2') format('woff2');
    url('/fonts/Material_Symbols_Sharp.woff') format('woff'),
}
.material-symbols-sharp {
  font-family: 'Material Symbols Sharp';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
}

@font-face {
  font-family: 'Material Symbols Outlined';
  font-style: normal;
  font-weight: normal;
  font-display: block;
  src:
    local('Material Symbols Outlined'),
    url('/fonts/Material_Symbols_Outlined.woff2') format('woff2');
    url('/fonts/Material_Symbols_Outlined.woff') format('woff'),
}
.material-symbols-outlined {
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
}

@font-face {
  font-family: 'Material Symbols Rounded';
  font-style: normal;
  font-weight: normal;
  font-display: block;
  src:
    local('Material Symbols Rounded'),
    url('/fonts/Material_Symbols_Rounded.woff2') format('woff2');
    url('/fonts/Material_Symbols_Rounded.woff') format('woff'),
}
.material-symbols-rounded {
  font-family: 'Material Symbols Rounded';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'liga';
}
